<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <context-param>
    <param-name>MAIL_HOST</param-name>
    <param-value>210.62.146.209</param-value>
  </context-param>

  <context-param>
    <param-name>DominoDIIOPConnection</param-name>
    <param-value>tptest1.dbtel.com.tw</param-value>
  </context-param>

  <context-param>
    <param-name>DominoSecondaryDIIOPConnection</param-name>
    <param-value>tpefax.dbtel.com.tw</param-value>
  </context-param>

  <context-param>
    <param-name>ORADDS_JDBC_URL</param-name>
    <param-value>jdbc:oracle:thin:@10.0.1.171:1527:crp</param-value>
  </context-param>

  <context-param>
    <param-name>ORADTST_JDBC_URL</param-name>
    <param-value>jdbc:oracle:thin:@10.0.1.171:1527:crp</param-value>
  </context-param>

  <context-param>
    <param-name>ORADTST2_JDBC_URL</param-name>
    <param-value>jdbc:oracle:thin:@10.0.1.171:1527:crp</param-value>
  </context-param>

  <context-param>
    <param-name>ORARFQDB_JDBC_URL</param-name>
    <param-value>jdbc:oracle:thin:@210.62.146.195:1521:RFQDB</param-value>
  </context-param>

  <context-param>
    <param-name>WEB_JDBC_URL</param-name>
    <param-value>jdbc:microsoft:sqlserver://210.62.146.199:1433;DatabaseName=WEB</param-value>
  </context-param>

  <context-param>
    <param-name>TEW_JDBC_URL</param-name>
    <param-value>jdbc:odbc:ILAN70</param-value>
  </context-param>

  <context-param>
    <param-name>YEW_JDBC_URL</param-name>
    <param-value>jdbc:odbc:ILAN70</param-value>
  </context-param>

  <context-param>
    <param-name>ILNASSIST_JDBC_URL</param-name>
    <param-value>jdbc:odbc:ILAN70</param-value>
  </context-param>

  <context-param>
    <param-name>ILAN70_JDBC_URL</param-name>
    <param-value>jdbc:odbc:ILAN70</param-value>
  </context-param>

  <context-param>
    <param-name>MIS003_JDBC_URL</param-name>
    <param-value>jdbc:odbc:MIS-003</param-value>
  </context-param>

  <context-param>
    <param-name>NOTESSAL(SALARY)_JDBC_URL</param-name>
    <param-value>jdbc:informix-sqli://dbtah01.dbtel.com.tw:1530/saltst:informixserver=dbtah0172_net</param-value>
  </context-param>

  <mime-mapping>
    <extension>.mmf</extension>
    <mime-type>audio/basic</mime-type>
  </mime-mapping>

  <context-param>
    <param-name>db.username</param-name>
    <param-value>APPS</param-value>
  </context-param>

  <context-param>
    <param-name>db.password</param-name>
    <param-value>TSCApps12</param-value>
  </context-param>

  <context-param>
    <param-name>db.driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>

  </web-app>
